// COLORS

$black-color: #1f2125;
$black-grey-color: #1f2125f6;
$brown-color: #de7119;
$main-color: #f26743;
$red-color: #eb2c4d;
$white-color: #fbfdfc;
$grey-color: #66676b;
$grey-white-color: #cfcfcf;
$green-color: #4f8179;
$cappuccino-color: #ae9081;



// FONTS
$libre: 'Libre Baskerville',
serif;
$gotu: 'Gotu',
sans-serif;
$roboto: 'Roboto',
sans-serif;
$first-montserrat: 'Montserrat Alternates',
sans-serif;
$second-montserrat: 'Montserrat',
sans-serif;
$playfair: 'Playfair Display',
serif;
$lobster: 'Lobster Two',
cursive;

// BREAKPOINTS

$breakpoints: (small: 499px,
    medium: 899px,
    large: 999px,
    extra-large: 1399px);

@mixin breakpoint($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}