// COLORS

$black-color: #1f2125;
$black-grey-color: #1f2125f6;
$brown-color: #de7119;
$main-color: #f26743;
$red-color: #eb2c4d;
$white-color: #fbfdfc;
$grey-color: #66676b;
$grey-white-color: #cfcfcf;
$green-color: #4f8179;
$cappuccino-color: #ae9081;

:root {
    //blue color
    --primary-color: #cfcfcf;
    //purple color
    --secondary-color: #eb2c4d;
    // blue matte color
    --third-color: #de7119;
    // white color
    --font-color: #1f2125;
    // red color
    --second-font-color: #c51c1c;
    // grey color
    --third-font-color: #66676b;
    // black color
    --bg-color: #fbfdfc;
    // footer color
    --footer-color: #1f2125;
}

[data-theme='dark'] {
    //blue color
    --primary-color: #cfcfcf;
    //purple color
    --secondary-color: #eb2c4d;
    // blue matte color
    --third-color: #cfcfcf;
    // white color
    --font-color: #fbfdfc;
    // red color
    --second-font-color: #c51c1c;
    // grey color
    --third-font-color: #cfcfcf;
    // black color
    --bg-color: #1f2125;
    // footer color
    --footer-color: #eb2c4d;

}



// FONTS
$libre: 'Libre Baskerville',
serif;
$gotu: 'Gotu',
sans-serif;
$roboto: 'Roboto',
sans-serif;
$first-montserrat: 'Montserrat Alternates',
sans-serif;
$second-montserrat: 'Montserrat',
sans-serif;
$playfair: 'Playfair Display',
serif;
$lobster: 'Lobster Two',
cursive;

// BREAKPOINTS

$breakpoints: (small: 499px,
    medium: 899px,
    large: 999px,
    extra-large: 1399px);

@mixin breakpoint($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}