    <footer class="footer">
        <div class="footer__container">
            <div class="footer__container-social">
                <i class="footer-social fab fa-instagram"></i>
                <i class="footer-social fab fa-facebook-f"></i>
                <i class="footer-social fab fa-twitter"></i>
            </div>
            <div class="footer__container-creator">
                <h1 class="text">© <span id="date"></span> Made by <a href="#" id="name">Razvan Petru</a></h1>
            </div>
        </div>
    </footer>

    </body>

    </html>