<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragoș Vasile</title>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400&family=Montserrat:wght@300;400&family=Playfair+Display&display=swap"
        rel="stylesheet">
    <!-- CSS FILE -->
    <link rel="stylesheet" href="/public/styles/main.css">
    <!-- JS FILE -->
    <script defer src="/public/js/index.js"></script>
</head>

<body>
    <nav class="nav">
        <div class="nav__logo">
            <h1 id="logo"><a href="/">Dragoș Vasile</a></h1>
        </div>
        <div class="nav__links">
            <li class="list-link"><a href="/">Blog</a></li>
            <li class="list-link"><a href="/about">About</a></li>
            <li class="list-link"><a href="/contact">Contact</a></li>
            <div class="nav__icons">
                <i class="nav__icons-social fab fa-instagram"></i>
                <i class="nav__icons-social fab fa-facebook-f"></i>
                <i class="nav__icons-social fab fa-twitter"></i>
            </div>
        </div>
        <div class="nav__toggle">
            <div class="nav__toggle-lines">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
            </div>
        </div>
    </nav>