<section class="subscribe">

    <div class="subscribe__container">
        <div class="subscribe__container-title">
            Subscribe now.
        </div>

        <div class="subscribe__container-description">
            Sign up with your email address to receive news and updates.
        </div>
        <div class="subscribe__container-signup">
            <input id="email" type="email" placeholder="Email">
            <button type="button" id="button">Subscribe</button>
        </div>
    </div>
</section>