<section class="subscribe">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#1f2125f5" fill-opacity="1" d="M0,64L1440,128L1440,0L0,0Z"></path>
    </svg>
    <div class="subscribe__container">
        <div class="subscribe__container-title">
            Subscribe to our newsletter.
        </div>

        <div class="subscribe__container-description">
            Sign up with your email address to receive news and updates.
        </div>
        <div class="subscribe__container-signup">
            <input id="email" type="email" placeholder="Email">
            <button type="button" id="button">Subscribe</button>
        </div>
    </div>
</section>