*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include breakpoint(medium) {
        font-size: 65%;
    }

    @include breakpoint(medium) {
        font-size: 68%;
    }
}

body {
    font-size: 1.6rem;
    background-color: $black-color;
    scroll-behavior: smooth;
    font-family: $first-montserrat;
    font-weight: 400;
    height: 100vh;
    width: 100%;
}