<%- include('partials/header') %>

<section class="about">
    <div class="about__container">
        <div class="about__container-description">
            <%= about %>
        </div>
    </div>
</section>

<%- include('partials/footer') %>