.about {
    display: flex;
    padding: 2rem 2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 10rem;
    min-height: 100%;

    &__container {
        padding: 1rem 1rem;
        font-size: 2rem;

        &-description {
            text-align: left;
            line-height: 3.8rem;
            color: $grey-color;
        }
    }

    @include breakpoint(medium) {
        width: 60%;
    }
}