.post {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    min-height: 100%;
    margin-top: 10rem;

    &__container {
        text-align: center;

        &-date {
            font-size: 1.4rem;
            color: $red-color;
        }

        &-title {
            font-size: 4rem;
            padding-top: 2rem;
            font-family: $playfair;
            color: $white-color;
        }

        &-description {
            padding-top: 4rem;
            text-align: start;
            line-height: 4rem;
            font-size: 1.6rem;
            max-width: 100%;
            margin: 0 auto;
            color: $grey-white-color;

            @include breakpoint(medium) {
                max-width: 70%;
                text-align: center;
            }
        }
    }
}

.section__post {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 2rem;


    &-btn {
        margin: 0 2rem;
        font-size: 1.8rem;
        font-family: $playfair;
        border: none;
        background-color: transparent;
        color: $white-color;
        cursor: pointer;

        &:focus {
            outline: 0;
        }

        @include breakpoint(medium) {
            margin: 10rem;
        }
    }
}