.post {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    min-height: 100%;
    margin-top: 2rem;

    &__container {
        margin-top: 3rem;
        text-align: center;

        &-date {
            padding-top: .5rem;
            font-size: 1.4rem;
            color: $red-color;
        }

        &-title {
            font-size: 4rem;
            padding-top: 2rem;
            font-family: $playfair;
            color: var(--font-color);
            width: 100%;
            margin: 0 auto;

            @include breakpoint(medium) {
                width: 70%;
            }
        }

        &-description {
            padding-top: 4rem;
            padding-bottom: 4rem;
            text-align: start;
            line-height: 4rem;
            font-size: 1.6rem;
            max-width: 100%;
            margin: 0 auto;
            color: var(--third-font-color);

            @include breakpoint(medium) {
                max-width: 70%;
                text-align: center;
            }
        }
    }
}

a.back__btn {
    position: relative;
    left: -35%;
    border: none;
    font-family: $playfair;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-decoration: none;
    color: $red-color;

    &:focus {
        outline: 0;
    }
}