*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 899px) {
  html {
    font-size: 65%;
  }
}

@media screen and (min-width: 899px) {
  html {
    font-size: 68%;
  }
}

body {
  font-size: 1.6rem;
  background-color: #1f2125f5;
  scroll-behavior: smooth;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  width: 100%;
  height: 100vh;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 899px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav #logo {
  padding: 1rem 6rem;
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  letter-spacing: .3rem;
}

.nav #logo a {
  text-transform: uppercase;
  text-decoration: none;
  color: #eb2c4d;
  font-weight: 300;
}

.nav__toggle {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 2rem;
  margin-right: 2rem;
  z-index: 1;
}

@media screen and (min-width: 499px) {
  .nav__toggle {
    margin-right: 4rem;
  }
}

.nav__toggle-lines {
  margin-top: 1rem;
  cursor: pointer;
}

.nav__toggle-lines .line {
  display: block;
  max-width: 2.6rem;
  height: 0.2rem;
  border-radius: 2rem;
  background-color: #fbfdfc;
  margin-bottom: 0.6rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav__toggle-lines.is-active .line-1 {
  -webkit-transform: translateY(0.4rem) rotate(-220deg);
          transform: translateY(0.4rem) rotate(-220deg);
}

.nav__toggle-lines.is-active .line-2 {
  -webkit-transform: translateY(-0.4rem) rotate(220deg);
          transform: translateY(-0.4rem) rotate(220deg);
}

.nav__icons-social {
  color: #fbfdfc;
  font-size: 2.2rem;
  padding: 1rem 1rem;
  opacity: 1;
}

.nav__icons-social:hover {
  background-color: #fbfdfc;
  color: #1f2125;
  border-radius: 50%;
}

.nav__icons.open-social-social {
  opacity: 0;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  list-style: none;
  background-color: #1f2125;
  position: fixed;
  top: -200%;
  z-index: -1;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: 1px solid #66676b;
  border-top: none;
}

.nav__links a {
  color: #cfcfcf;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  opacity: 0;
  -webkit-transition: step-end 0.5s ease-in-out;
  transition: step-end 0.5s ease-in-out;
  cursor: pointer;
}

.nav__links a:hover {
  color: #eb2c4d;
}

.nav__links.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  z-index: 1;
  visibility: visible;
  opacity: 1;
  top: 0;
}

.nav__links.open a {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 899px) {
  .nav__links {
    width: 30%;
    right: 0;
  }
}

.nav__iconsSocial {
  position: absolute;
  left: 0;
  margin: 2rem 10rem;
  display: none;
}

@media screen and (min-width: 899px) {
  .nav__iconsSocial {
    display: initial;
  }
  .nav__iconsSocial .nav__icons-social {
    font-size: 2rem;
  }
  .nav__iconsSocial .nav__icons-social:hover {
    color: #1f2125;
    background-color: #fbfdfc;
    border-radius: 50%;
  }
}

.article {
  display: -ms-grid;
  display: grid;
  grid-gap: unset;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 4rem 4rem;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

@media screen and (min-width: 899px) {
  .article {
    padding: 4rem 10rem;
    width: 100%;
  }
}

.article a {
  text-decoration: none;
}

.article__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem .5rem;
  background-color: #1f2125;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
  margin: .5rem .5rem;
  cursor: pointer;
  height: 30rem;
  position: relative;
}

.article__container:hover {
  background-color: #cfcfcf;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  position: relative;
}

.article__date {
  font-size: 1.4rem;
  color: #eb2c4d;
  text-align: center;
}

.article__title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  letter-spacing: .2rem;
  cursor: pointer;
}

.article__title a {
  text-decoration: none;
  color: #cfcfcf;
}

.article__description {
  padding-top: 1rem;
  color: #66676b;
  text-align: center;
}

.article__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
  padding-top: 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.article__button #read-more {
  margin-left: 1rem;
  padding: .2rem .5rem;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: #eb2c4d;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.article__button #read-more:focus {
  outline: 0;
}

.article__container:hover .article__button {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.article__container:hover .article__title a {
  color: #1f2125;
}

.scroll {
  display: none;
}

@media screen and (min-width: 899px) {
  .scroll {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    padding-bottom: 1rem;
    color: #cfcfcf;
    display: block;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  .scroll__arrow {
    padding-right: .5rem;
    font-size: 1.2rem;
    color: #fbfdfc;
  }
}

.subscribe {
  margin-top: 10rem;
}

.subscribe__container {
  background-color: #1f2125;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
}

.subscribe__container-title {
  font-size: 2.4rem;
  font-family: "Playfair Display", serif;
  letter-spacing: .1rem;
  line-height: 4rem;
  color: #eb2c4d;
}

.subscribe__container-description {
  width: 100%;
  text-align: center;
  padding: 0 1rem;
  color: #cfcfcf;
}

.subscribe__container-signup {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__container-signup #email {
  background-color: transparent;
  border: 1px solid #cfcfcf;
  padding: .8rem .5rem;
  font-size: 1.6rem;
  color: #cfcfcf;
}

.subscribe__container-signup #email:focus {
  outline: 0;
}

.subscribe__container-signup #email::-webkit-input-placeholder {
  color: #eb2c4d;
}

.subscribe__container-signup #email:-ms-input-placeholder {
  color: #eb2c4d;
}

.subscribe__container-signup #email::-ms-input-placeholder {
  color: #eb2c4d;
}

.subscribe__container-signup #email::placeholder {
  color: #eb2c4d;
}

.subscribe__container-signup #email:-moz-placeholder {
  color: #eb2c4d;
}

.subscribe__container-signup #button {
  background-color: transparent;
  border: 1px solid #cfcfcf;
  font-size: 1.4rem;
  padding: .9rem 1rem;
  color: #eb2c4d;
  cursor: pointer;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.subscribe__container-signup #button:focus {
  outline: 0;
}

.subscribe__container-signup #button:hover {
  color: #eb2c4d;
  background-color: #fbfdfc;
}

.footer {
  width: 100%;
  padding-top: 3rem;
  background-color: #eb2c4d;
  border: 1px solid #1f2125;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer__container-social .footer-social {
  color: #cfcfcf;
  font-size: 2rem;
  padding: 0 1rem;
}

.footer__container-social .footer-social:hover {
  color: #1f2125;
}

.footer__container-creator {
  font-size: .5rem;
  font-family: "Montserrat", sans-serif;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #cfcfcf;
}

.footer__container-creator #name {
  color: #cfcfcf;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
}

.post__container {
  text-align: center;
}

.post__container-date {
  font-size: 1.4rem;
  color: #eb2c4d;
}

.post__container-title {
  font-size: 4rem;
  padding-top: 2rem;
  font-family: "Playfair Display", serif;
  color: #fbfdfc;
}

.post__container-description {
  padding-top: 4rem;
  text-align: start;
  line-height: 4rem;
  font-size: 1.6rem;
  max-width: 100%;
  margin: 0 auto;
  color: #cfcfcf;
}

@media screen and (min-width: 899px) {
  .post__container-description {
    max-width: 70%;
    text-align: center;
  }
}

.section__post {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.section__post-btn {
  margin: 0 2rem;
  font-size: 1.8rem;
  font-family: "Playfair Display", serif;
  border: none;
  background-color: transparent;
  color: #fbfdfc;
  cursor: pointer;
}

.section__post-btn:focus {
  outline: 0;
}

@media screen and (min-width: 899px) {
  .section__post-btn {
    margin: 10rem;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 2rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
  min-height: 100%;
}

.about__container {
  padding: 1rem 1rem;
  font-size: 2rem;
}

.about__container-description {
  text-align: left;
  line-height: 3.8rem;
  color: #cfcfcf;
}

@media screen and (min-width: 899px) {
  .about {
    width: 60%;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 2rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
  min-height: 100%;
}

@media screen and (min-width: 899px) {
  .content {
    width: 60%;
  }
}

.contact {
  padding: 1rem 1rem;
  font-size: 2rem;
  text-align: left;
  line-height: 3.8rem;
  color: #cfcfcf;
}
/*# sourceMappingURL=main.css.map */