.nav {
  display: flex;

  @include breakpoint(medium) {
    justify-content: center;
  }

  #logo {
    padding: 2rem 6rem;
    font-family: $playfair;
    font-size: 3rem;
    letter-spacing: .2rem;

    a {
      text-decoration: none;
      color: #eb2c4d;
      font-weight: 300;
    }
  }

  &__toggle {
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;
    z-index: 1;

    @include breakpoint(small) {
      margin-right: 4rem;
    }

    &-lines {
      margin-top: 1rem;
      cursor: pointer;

      .line {
        display: block;
        max-width: 2.6rem;
        height: 0.2rem;
        border-radius: 2rem;
        background-color: $white-color;
        margin-bottom: 0.6rem;
        transition: all 0.5s ease;
      }

      &.is-active .line-1 {
        transform: translateY(0.4rem) rotate(-220deg);
      }

      &.is-active .line-2 {
        transform: translateY(-0.4rem) rotate(220deg);
      }
    }
  }

  &__icons {
    &-social {
      color: $white-color;
      font-size: 2.2rem;
      padding: 1rem 1rem;
      opacity: 1;
    }

    &.open-social {
      &-social {
        opacity: 0;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    list-style: none;
    background-color: $black-color;
    position: fixed;
    top: -200%;
    z-index: -1;
    transition: all 0.2s ease-in-out;
    border: 1px solid $grey-color;
    border-top: none;

    a {
      color: $grey-white-color;
      text-decoration: none;
      font-size: 2rem;
      opacity: 0;
      transition: step-end 0.5s ease-in-out;
      cursor: pointer;

      &:hover {
        color: $brown-color;
      }
    }

    &.open {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
      z-index: 1;
      visibility: visible;
      opacity: 1;
      top: 0;

      a {
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }
    }

    @include breakpoint(medium) {
      width: 30%;
      right: 0;
    }
  }
}

.nav__iconsSocial {
  position: absolute;
  left: 0;
  margin: 2rem 10rem;
  display: none;

  @include breakpoint(medium) {
    display: initial;

    .nav__icons-social {
      font-size: 2rem;

      &:hover {
        color: $black-color;
        background-color: $white-color;
        border-radius: 50%;
      }
    }
  }
}