.nav {
  position: sticky;
  width: 100%;
  background-color: $white-color;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .1);
  min-height: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include breakpoint(medium) {
    justify-content: center;
    flex-direction: column;
  }

  &__links ul {
    display: none;
    flex-direction: column;
    margin: 2.5rem;
    margin-left: 8rem;
    list-style: none;

    li {
      margin: 1rem 0;

      a {
        text-decoration: none;
        color: $grey-color;

        &:hover {
          color: $black-color;
        }
      }
    }

    &.open {
      display: block;
    }
  }

  #logo {
    margin: 1.5rem;
    padding: 0 6rem;
    font-family: $libre;
    font-size: 2.5rem;
    letter-spacing: .1rem;

    @include breakpoint(medium) {
      font-size: 2.5rem;
    }

    a {
      text-decoration: none;
      color: $black-color;
      font-weight: 700;
    }
  }

  &__toggle {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 2rem;
    margin-right: 4rem;
    z-index: 1;

    &-lines {
      margin-top: 1rem;
      cursor: pointer;

      .line {
        display: block;
        max-width: 2.6rem;
        height: 0.2rem;
        border-radius: 2rem;
        background-color: $black-color;
        margin-bottom: 0.6rem;
        transition: all 0.5s ease;
      }

      &.is-active .line-1 {
        transform: translateY(0.4rem) rotate(-220deg);
      }

      &.is-active .line-2 {
        transform: translateY(-0.4rem) rotate(220deg);
      }
    }
  }

  &__icons {
    &-social {
      color: $black-color;
      font-size: 2.2rem;
      padding: 1rem 1rem;
      opacity: 1;

      &:hover {
        background-color: $white-color;
        color: $black-color;
        border-radius: 50%;
      }
    }

    &.open-social {
      &-social {
        opacity: 0;
      }
    }
  }
}

.nav__iconsSocial {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem 0;
  margin-right: 13rem;
  display: none;

  @include breakpoint(medium) {
    display: initial;

    .nav__icons-social {
      font-size: 2rem;

      &:hover {
        color: $red-color;
      }
    }
  }
}