.article {
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, 30rem);
    margin-top: 10rem;
    grid-gap: 10rem;
    justify-content: center;
    min-height: 100%;
    width: 100%;


    @include breakpoint(medium) {
        display: inline-grid;
        grid-template-rows: repeat(auto-fill, auto);
        grid-template-columns: repeat(auto-fill, auto);
        justify-items: center;
    }


    &__container {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }

    &__date {
        text-align: center;
        font-size: 1.4rem;
        color: $green-color;
    }

    &__title {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 3rem;
        text-align: center;
        font-family: $playfair;
        letter-spacing: .2rem;
        cursor: pointer;

        a {
            text-decoration: none;
            color: $cappuccino-color;
        }
    }

    &__description {
        color: $grey-white-color;
        text-align: center;
    }

    &__button {
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 1rem;

        #read-more {
            padding: .2rem .5rem;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $green-color;
            color: $green-color;
            cursor: pointer;
            text-decoration: none;
            font-size: 1.2rem;
            font-family: $second-montserrat;
            transition: all .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);

            &:focus {
                outline: 0;
            }

            &:hover {
                background-color: $green-color;
                color: $white-color;
            }
        }
    }
}