.subscribe {
    margin-top: 10rem;

    &__container {
        background-color: $black-color;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 4rem 0;

        &-title {
            font-size: 2.4rem;
            font-family: $playfair;
            letter-spacing: .1rem;
            line-height: 4rem;
            color: $red-color;
            font-weight: 600;
        }

        &-description {
            width: 100%;
            text-align: center;
            padding: 0 1rem;
            color: $grey-white-color;
        }

        &-signup {
            padding-top: 2rem;
            display: flex;

            #email {
                background-color: transparent;
                border: 1px solid $grey-white-color;
                padding: .8rem .5rem;
                font-size: 1.6rem;
                color: $grey-white-color;

                &:focus {
                    outline: 0;
                }
            }

            #email::placeholder {
                color: $red-color;
            }

            #email:-moz-placeholder {
                color: $red-color;
            }

            #button {
                background-color: transparent;
                border: 1px solid $grey-white-color;
                font-size: 1.4rem;
                padding: .9rem 1rem;
                color: $red-color;
                cursor: pointer;
                transition: all .1s ease-in-out;
                font-weight: 500;

                &:focus {
                    outline: 0;
                }

                &:hover {
                    color: $red-color;
                    background-color: $white-color;
                }
            }
        }
    }
}