.subscribe {
    background-color: $grey-white-color;
    position: relative;
    margin-top: 5rem;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10rem;

        &-title {
            font-size: 2.4rem;
            font-family: $playfair;
            letter-spacing: .1rem;
            line-height: 6rem;
        }

        &-description {
            width: 100%;
            text-align: center;
            padding: 0 1rem;
        }

        &-signup {
            padding-top: 2rem;
            display: flex;

            #email {
                background-color: transparent;
                border: 1px solid $black-color;
                padding: .8rem .5rem;
                font-size: 1.6rem;
                border-radius: 0;
                color: $black-color;

                &:focus {
                    outline: 0;
                }
            }

            #email::placeholder {
                color: $brown-color;
            }

            #email:-moz-placeholder {
                color: $brown-color;
            }

            #button {
                background-color: transparent;
                border: 1px solid $black-color;
                font-size: 1.4rem;
                padding: .9rem 1rem;
                color: $brown-color;

                &:focus {
                    outline: 0;
                }

                &:hover {
                    color: $white-color;
                    background-color: $brown-color;
                }
            }
        }
    }
}